# Moodle admin
MOODLE_USERNAME=admin
MOODLE_PASSWORD=Admin1234!
MOODLE_EMAIL=admin@galileo.edu
MOODLE_SITE_NAME=GES Exam QA

# Base de datos
MOODLE_DATABASE_HOST=mariadb
MOODLE_DATABASE_NAME=moodle
MOODLE_DATABASE_USER=moodleuser
MOODLE_DATABASE_PASSWORD=MoodlePass1234!
MARIADB_ROOT_PASSWORD=RootPass1234!
MARIADB_DATABASE=moodle
MARIADB_USER=moodleuser
MARIADB_PASSWORD=MoodlePass1234!

# Webhook receptor de prueba (Cambio 3)
WEBHOOK_PORT=3001

# QA
MOODLE_URL=http://localhost:8080
TEACHER_USER=profesor01
TEACHER_PASS=Profesor1234!
STUDENT_USER=estudiante01
STUDENT_PASS=Estudiante1234!
